* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.is-hidden {
  display: none !important;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  padding: 0 10px;
  margin: 68px auto;
}

// header
.header-block {
  text-align: center;
  margin-bottom: 38px;

  .title-h2 {
    font-size: 36px;
    color: #2c3e50;
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 24px;
}

.total-score {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #2c3e50;

  p {
    margin-right: 12px;
  }
}

.correct-answer {}

// header

// body
.holder {
  margin-bottom: 46px;
  border: 1px solid #27ae60;
  padding: 24px;
  border-radius: 10px;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  cursor: pointer;

  &:hover {
    @media only screen and (min-width: 1025px) {
      .list-origin {
        opacity: 0.7;
      }
    }
  }
}

.list-origin {
  font-size: 26px;
  line-height: 1.25;
  max-width: 50%;
  width: 100%;
  text-align: right;
  margin-right: 44px;
  opacity: 1;
  transition: 0.2s ease;
}

.form-block {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.form-holder {
  max-width: 36%;
  width: 100%;
  height: 34px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    right: -30px;
    top: 50%;
    transform: translate(0, -50%);
  }

  &.is-correct {
    &:after {
      background-image: url(../img/icon-check.svg);
    }
  }

  &.is-wrong {
    &:after {
      background-image: url(../img/icon-wrong.svg);
    }

    .form-control {
      border: 1px solid #e74c3c;
    }
  }

  &.is-empty {

    .form-control {
      border: 1px solid #e74c3c;
    }
  }

  .tool-tip {
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translate(calc(100% + 45px), -50%);
    font-size: 18px;
    border: 1px solid #e67e22;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: #e67e22;
    color: #fff;
    font-weight: 700;
    letter-spacing: 6px;
    text-align: center;
    width: max-content;

    &:after {
      content: '';
      position: absolute;
      left: -13px;
      top: 50%;
      border: 8px solid #e67e22;
      transform: rotate(45deg) translate(-10%, -55%);
      border-right-color: transparent;
      border-top-color: transparent;
    }
  }
}

.form-control {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  padding: 4px 12px;
  border: 1px solid #27ae60;
  outline: none;
  font-size: 18px;
  line-height: 1.25;

  &:focus {
    border: 1px solid #7f8c8d;
  }
}

.icon-empty {
  display: inline-block;
  position: absolute;
  background-image: url(../img/icon-empty.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  right: -30px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 100;
}

.btn-check {
  display: block;
  margin: 0 auto;
  max-width: 280px;
  width: 100%;
  padding: 12px;
  border-radius: 50px;
  background-color: #27ae60;
  border: 2px solid #27ae60;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  line-height: 1.25;
  transition: 0.3s ease;

  &:hover {
    @media only screen and (min-width: 1025px) {
      background-color: #0a8a40;
      border: 2px solid #0a8a40;
    }
  }
}

// body