.themelist-layout {}

.theme-list {
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.theme-items {
  flex: 1 1 240px;
  margin-right: 120px;
  margin-bottom: 64px;
  max-width: 240px;
}

.theme-header {
  margin-bottom: 20px;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
}

.theme-body {
  border: 1px solid #000;
  padding: 24px 16px 42px;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
}

.theme-navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 100%;
}

.theme-btn-add,
.theme-btn-remove {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 68%;
  border: 3px solid transparent;
  transition: 0.2s linear;
  position: relative;

  &:hover {
    @media only screen and (min-width: 1025px) {
      &:after {
        transform: translate(-50%, -130%);
        opacity: 1;
      }

      &:before {
        opacity: 1;
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 14px;
    font-weight: 600;
    width: max-content;
    color: #2c3e50;
    border: 1px solid #2c3e50;
    background-color: #fff;
    border-radius: 3px;
    padding: 4px 12px;
    opacity: 0;
    transition: 0.3s ease;
  }

  &:before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border: 1px solid #2c3e50;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: #fff;
    z-index: 30;
    border-left-color: transparent;
    border-top-color: transparent;
    transition: opacity 0.6s ease;
    opacity: 0;
  }
}

.theme-btn-add {
  margin-bottom: 16px;
  background-color: #2ecc71;
  background-image: url(../img/icon-plus.svg);

  &:after {
    content: 'Add new word';
  }

  &:hover {
    @media only screen and (min-width: 1025px) {
      background-color: #27ae60;
      border: 3px solid #2ecc71;
    }
  }
}

.theme-btn-remove {
  background-color: #e74c3c;
  background-image: url(../img/icon-minus.svg);

  &:after {
    content: 'remove word';
  }

  &:hover {
    @media only screen and (min-width: 1025px) {
      background-color: #c0392b;
      border: 3px solid #e74c3c;
    }
  }
}

.theme-caption {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;

  &:first-child {
    margin-bottom: 10px;
  }
}

.theme-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
  }

  &:after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000;
  }

  &:before {
    width: 160px;
    height: 1px;
    border-radius: 4px;
    background-color: #000;
    margin-left: 26px;
  }
}

.theme-footer {
  text-align: left;

}

.theme-btn-details {
  background-color: #17a2b8;
  border: 2px solid #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 14px;
  margin: 0;
  text-transform: uppercase;

  &:hover {
    @media only screen and (min-width: 1025px) {
      background-color: transparent;
      border: 2px solid #17a2b8;
      color: #17a2b8;
    }
  }
}

.theme-btn-delete {
  background-image: url(../img/icon-trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}